// basic styles : http://codepen.io/cgspicer/pen/3f9748f0970a18b847bd67d4a14cc778/

/** type settings **/
body {
  background-color: white;
  @include font-size(1.5);
  @include line-height(2.2);
  font-family: $font-family-open-sans;
  color: black;
}

h1, h2, h3, h4, h5, h6 {
  font-family: $font-family-montserrat;
  font-weight: normal;
  color: $gold;
  text-transform: none;
  margin: 1rem 0;
}
a {
  color: $gold;
  text-decoration: none;
  &:hover {
    color: $gold;
    text-decoration: underline;
  }
}
p {
  margin: 1rem 0;
  &:empty {
    margin: 0;
  }
}

ul li:before {
  border-color: $medium-gray;
}

// classed type styles
h1.page-title {
  text-transform: lowercase;
  @include font-size(2.9);
  span {
    color: $gold;
  }
}
.uppercase {
  text-transform: uppercase;
}

// misc type
::selection {
  background-color: $medium-gray;
  color: $gray;
}
strong {
  font-weight: bold;
}
small {
  @include font-size(1);
}
i {
  font-style: italic;
}
input {
  padding-left: 5px;
}