@import "compass/css3/border-radius";
@import "compass/css3/box-shadow";

/** color variables **/
$white: white;
$black: black;
$gray: rgb( 65, 64, 66 );
$medium-gray: rgb( 150, 150, 150 );
$light-gray: rgb( 240, 240, 240 );
$gold: rgb( 242, 170, 29 );


// basic color classes
.black {
  color: $black;
  &.inverted {
    background-color: $black;
    color: $white;
	}
}
.white {
  color: $white;
  &.inverted {
    background-color: $white;
    color: $white;
	}
}
.gray {
  color: $gray;
  &.inverted {
    background-color: $gray;
    color: $white;
  }
}
.medium-gray {
  color: $medium-gray;
  &.inverted {
    background-color: $medium-gray;
    color: $black;
  }
}
.light-gray {
  color: $light-gray;
  &.inverted {
    background-color: $light-gray;
    color: $black;
  }
}
.gold {
  color: $gold;
  &.inverted {
    background-color: $gold;
    color: $gray;
  }
}