// commonly used styles

.aligncenter {
  text-align: center;
}
.alignleft {
  text-align: left;
}
.alignright {
  text-align: right;
}
.rounded-corners {
  border-radius: 4px;
}

.button {
  display: inline-block;
  padding: 15px 20px;
  text-align: center;
}

.light-border {
  border: 1px solid $light-gray;
}

.testimonial-block {
  padding: 3rem 0 2rem;
  background-image: url('../images/testimonial-block-bkg.png');
  background-position: center right;
  background-repeat: no-repeat;
  background-size: 325px 699px;
  .title h2 {
    @include font-size( 3.2 );
    @include line-height( 5 );
    color: $light-gray;
  }
  .quote {
    padding: 2rem 0;
    @include font-size( 1.7 );
    @include line-height( 3 );
  }
  .citation {
    @include font-size( 2.3 );
    @include line-height( 3.3 );
    color: $gold;
  }
}

.generic-page {
  .the-title {
    padding-top: 4rem;
    padding-bottom: 1rem;
    border-bottom: 1px solid $medium-gray;
    margin-bottom: 1.5rem;
    h1 {
      @include font-size( 2.9 );
      @include line-height( 2 );
      color: $black;
      text-transform: lowercase;
    }
  }
  .the-content {

  }
}

.bottom-blurb {
  @include font-size( 2.5 );
  @include line-height( 4 );
  color: $medium-gray;
  margin: 4rem 0;
  font-weight: 300;
  text-align: center;
}